body {
  margin: 0;
  padding: 0;
}

/* Sidebar */
#sidebar {
  background-color: rgb(0, 77, 97);
  color:  rgb(255, 255, 255);
  width: 180px;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0;
  overflow-y: auto;
  padding-top: 20px;
}

#sidebar .nav-link {
  color: #fff;
  padding: 10px 15px;
  font-size: 0.95rem;
}

#sidebar .nav-link:hover {
  background-color: rgb(0,61,77);
}

#sidebar .submenu {
  padding-left: 30px;
  font-size: 0.9rem;
}


.width-modal{    
  width: 110%;
}

.navbar {
  margin-left: 179px; /* <- deixa espaço para o menu lateral */
  width: calc(100% - 160px); /* <- barra não ocupa toda a largura */
  z-index: 1040;
}

/* Conteúdo principal */
#main {
  margin-left: 160px;
  padding: 20px;
  position:relative;
  top:10px;
  color:rgb(0, 0, 0);
}

#bem{
  
  color: #000000;
}

@media (max-width: 991.98px) {
  #sidebar {
    position: fixed;
    top: 56px;
    left: -160px;
    transition: left 0.3s;
  }

  #sidebar.show {
    left: 0;
  }

  .navbar {
    margin-left: 0;
    z-index: 500; /* Menor que o .escuro (1000) */
  }
  
  #main {
    margin-left: 0;
  }
}


